/*.active {
  background-color: #242424;
}

.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 999;
  padding: 2rem auto;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.fa-typo3 {
  margin-left: 0.5rem;
  font-size: 1.8rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  height: 80px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.close-icon {
  display: none;
}

.lang a{
  color: #666;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  width: 6.5rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20%, 110%);
}

.flag {
  width: 1.5rem
}

.lang-down {
  width: 0.7rem;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    /* background-color: #fff; */
    /*left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    border: 1px solid white;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #000;
    transition: 250ms;
  }
}*/

.navbar {
  background-color: black;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1rem auto;
}

.navbar-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:0;
  height: 60px;
  width: 88%;
  max-width: 1500px;
  padding: 0 1rem;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(7,auto);
  list-style: none;
  text-align: center;
  max-width: 70vw;
  border-radius: 0.3rem;
  background-color: #210700;
}

.nav-item {
  height: 30px;
  padding-bottom: 0;

}

.nav-links {
  color: #fff;
  text-decoration: none;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.7rem;
  font-size: 13px;
  font-family: Montserrat;
  font-weight: 500;
  height: 40px;
  line-height: 20.8px;
  letter-spacing: 1px;
}

.navbar-container .lang {
  margin-right: 0;
  padding-right: 0;
}

.lang a{
  color: #666;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.5rem;
  font-family: Montserrat;
  
}

.flag {
  width: 1.5rem
}

.lang-down {
  width: 0.7rem;
}

.menu-icon,
.close-icon {
  display: none;
}

@media screen and (max-width: 1122px) {
  .nav-links {
    font-size: 8px;
    
  }
}

@media screen and (max-width: 765px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    top: 0;
    left:-100%;
    bottom: 0px;
    width: 30%;
    min-width: 12rem;
    padding: 0.5rem;
    border-radius: 0;
    transition: all 0.8s ease;
  }

  .nav-menu.active {
    background-color: #111111;
    opacity: 0.95;
    left: 0;
    transition: all 0.8s ease;
    z-index: 1;
  }

  .navbar-container {
    justify-content: space-evenly;
    padding-right: 0;
  }

  .nav-item{
    width: 90%;
    height: auto;
    margin: 0;
  }

  .nav-links {
    width: 100%;
    height: auto;
    font-size: 11.5px;
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
  }

  .nav-links:hover {
    border-top: 1px solid #DA251C;
    color: #DA251C;
  }

  .menu-icon{
    display: block;
    color: #666;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .fa-bars {
    color: #DA251C;
  }

  .close-icon.active {
    top: 25px;
    display: flex;
    color: #666;
    z-index: 1001;
    padding: 0.8rem;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    border-radius: 0.5rem;
    cursor: pointer;
    position: absolute;
    left: 0;
  }

  .close-icon{
    left: -100%;
  }

  .fa-times {
    font-size: 1.3rem;
    margin-right: 0.5rem;
  }


}